html {
  font-family: "Times New Roman", Arial, serif;
  font-size: 12pt;
}

body {
  margin: 0;
  padding: 0;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vh;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger .lines {
  min-width: 100%;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  opacity: 0.9;
}
@media (min-width: 768px) {
  .hamburger {
    opacity: 0;
  }
}

.fa-sharp.fa-solid.fa-circle-down {
  color: white;
  font-size: 2rem;
}

.fa-sharp.fa-solid.fa-circle-down.black {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
}

#blackarrow {
  text-decoration: none;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
main {
  color: white;
}

.bg-image {
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landingpage {
  height: 60vh;
}
.landingpage p {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem;
}

header {
  background-color: rgba(255, 255, 255, 0.107);
  height: 8vh;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
nav li {
  display: flex;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: right;
    font-size: xx-large;
    padding: 1rem;
    margin: 0;
    padding-top: 0;
  }
  nav li {
    padding: 1rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.content h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
}

#about {
  background-color: rgb(255, 255, 255);
  color: black;
}
#about article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about p {
  background-color: lightgray;
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem;
}
#about i {
  font-size: 3rem;
}
#about img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #888888;
}
@media (min-width: 768px) {
  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #about article {
    width: 50%;
    height: 50%;
  }
  #about p {
    width: 30vw;
  }
}

.bi-quote::before {
  transform: rotate(180deg);
}

footer {
  background-color: black;
  font-size: larger;
  padding: 1rem;
}
footer ul {
  list-style-type: none;
  padding: 1rem;
}
footer li {
  padding: 0.5rem;
}
footer i {
  padding-right: 10px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
  footer ul {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
