@use "mixins" as mix;
@use "variables" as var;

h4.member {
  text-align: center;
}
h2 {
  color: var.$color-secondary;
  text-align: center;
}

#team {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p.member__description {
    background-color: lightgray;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    color: var.$color-secondary;
  }

  i {
    font-size: 3rem;
  }

  img.member__picture {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px #888888;
  }
  @include mix.for-tablets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    section {
      width: 50%;
      height: 50%;
    }
    p {
      width: 30vw;
    }
  }
}

.bi-quote::before {
  transform: rotate(180deg);
}
