@use "mixins" as mix;

/* .hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vh;
  &:hover {
    cursor: pointer;
  }
  .lines {
    min-width: 100%;

    background-color: white;
    padding: 3px;
    border-radius: 10px;
    opacity: 0.9;
  }
  @include mix.for-tablets {
    opacity: 0;
  }
}
 */
.fa-sharp.fa-solid.fa-circle-down {
  color: white;
  font-size: 2rem;
  position: relative;
}

.fa-sharp.fa-solid.fa-circle-down.black {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
}

#blackarrow {
  text-decoration: none;
}
