@use "variables" as var;
@use "mixins" as mix;

/* header */

.header {
  background-color: var.$color-transparent;
  position: absolute;
  width: 100%;
  z-index: 3;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var.$color-transparent;
    font-size: 1.3rem;

    @include mix.for-tablets {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    li a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      color: var.$color-primary;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
}

/* menu */

.menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;

  @include mix.for-tablets {
    max-height: none;
  }
}

/* menu icon */

.menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  position: relative;
  user-select: none;

  @include mix.for-tablets {
    display: none;
  }

  .nav-icon {
    background: var.$color-primary;
    display: block;
    height: 4.5px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 30px;
    border-radius: 5px;

    &::before,
    &::after {
      background: var.$color-primary;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
      border-radius: 5px;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: -10px;
    }
  }
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-135deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(135deg);
  top: 0;
}
