@mixin center {
  display: flex;
  justify-content: center;
}

@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin for-tablets {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
