@use "variables" as var;
@use "mixins" as mix;

body {
    margin: 0;

  }
  
  a {
    color: var.$color-primary;
  }
  
  /* header */
  
  .header {
    background-color: var.$color-transparent;
    position: absolute;
    width: 100%;
    z-index: 3;
    
  }
  
  .header ul {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var.$color-transparent;
  }
  
  .header li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    text-decoration: underline;
   
  }
  

  
  /* menu */
  
  .header .menu {
 
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 20px 22px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .nav-icon {
    background: var.$color-primary;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .nav-icon:before,
  .header .menu-icon .nav-icon:after {
    background: var.$color-primary;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .nav-icon:before {
    top: 5px;
  }
  
  .header .menu-icon .nav-icon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  
  
  /* 48em = 768px @ 16pt font */
  


  @media (min-width: 768px) {
    .header li {
     
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }