@use "mixins" as mix;
@use "variables" as var;

footer {
  background-color: var.$color-secondary;
  font-size: larger;
  padding: 3em 3em 3em 3em;
  color: var.$color-primary;

  ul {
    list-style-type: none;
    padding: 1rem;
  }
  li {
    padding: 0.5rem;
  }
  i {
    padding-right: 10px;
  }
  a {
    color: var.$color-primary;
    text-decoration: none;
  }

  @include mix.for-tablets {
    display: flex;
    justify-content: space-around;

    ul {
      padding: 0;
    }
  }
}
