@mixin center {
  display: flex;
  justify-content: center;
}

@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image($size) {
  width: $size;
  height: $size;
  @content;
}

@mixin for-tablets {
  @media (min-width: 768px) {
    @content;
  }
}
